{% extends "taskmanager/base.html" %}

{% block title %}My Tasks | Hangarin{% endblock %}

{% block content %}

<div class="welcome">
    <h2>My Tasks 🌷</h2>
    <p>Keep track of the things you need to do.</p>
</div>


<div class="task-list">

    {% for task in tasks %}

        <div class="task-card">

            <a href="{% url 'task_detail' task.id %}" class="task-title">
                {{ task.title }}
            </a>

            <p class="task-description">
                {{ task.description }}
            </p>

            <div class="task-info">

                <span class="status">
                    {{ task.status }}
                </span>

                <span>
                    🌷 {{ task.category }}
                </span>

                <span>
                    ⭐ {{ task.priority }}
                </span>

                <span>
                    📅 {{ task.deadline }}
                </span>

            </div>

        </div>

    {% empty %}

        <div class="empty-state">

            <h3>No tasks yet 🌸</h3>

            <p>
                You can add your first task using the button above.
            </p>

            <a href="{% url 'task_create' %}" class="add-button">
                + Create Task
            </a>

        </div>

    {% endfor %}

</div>

{% endblock %}